<launch>
	<node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="30" />
		<param name="autofocus" value="true" />
		<param name="camera_name" value="logitech" />
	</node>
</launch>